<!-- <div class="container" id="containerElement">
    <div class="checkbox">
      <label>
        <input type="checkbox" (change)="click($event)">
        Open only one at a time
      </label>
    </div>
  
    <accordion [closeOthers]="oneAtATime">
      <accordion-group heading="Header">
        This content is straight in the template.
      </accordion-group>
      <accordion-group heading="Content 1">
        <p>Content 1</p>
      </accordion-group>
      <accordion-group heading="Content 2">
        <p>Content 2</p>
      </accordion-group>
    </accordion>
  
    <h1 style="color: red;">hello</h1>
  
    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-success" style="width: 25%">25%</div>
    </div>
  
    <button type="button" class="btn btn-primary" (click)="downloadPageVanillaCSS()">
      Download the page with just vanilla css
    </button>
    <button type="button" class="btn btn-secondary" (click)="downloadPageAsItIs()">
      Download the page as it is
    </button>
  </div>
   -->