.form-container {
    // height: 86vh;
    background:url("https://i.ibb.co/dmr3yCD/seemless-blackbg.jpg");
    background-size:20%;
    background-position: center;
    background-repeat: repeat;
  }
